<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="utf-8" />
   
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Hỗ trợ y tế
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,700,200}" rel="stylesheet" />
    <link th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css}" rel="stylesheet">
    <!-- CSS Files -->
    <link th:href="@{../assetsAdmin/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{../assetsAdmin/css/paper-dashboard.css?v=2.0.1}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link th:href="@{./assetsAdmin/demo/demo.css}" rel="stylesheet" />
</head>

<body class="">
        <div class="sidebar" data-color="white" data-active-color="danger" th:fragment="header">
            <div class="logo">
                <a href="https://www.creative-tim.com" class="simple-text logo-mini">
                    <div class="logo-image-small">
                        <img src="./assetsAdmin/img/logo-small.png">
                    </div>
                    <!-- <p>CT</p> -->
                </a>
                <a href="https://www.creative-tim.com" class="simple-text logo-normal">
          TrangNho
        </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li id="home_admin" >
                        <a th:href="@{/homeadmin}">
                            <i class="nc-icon nc-bank"></i>
                            <p>Trang Chủ</p>
                        </a>
                    </li>
                    <li id="user_admin">
                        <a th:href="@{/accountadmin}">
                            <i class="nc-icon nc-single-02"></i>
                            <p>Thông tin người dùng</p>
                        </a>
                    </li>

                    <li id="dslichkham_admin">
                        <a th:href="@{/dslichkham}">
                            <i class="nc-icon nc-bell-55"></i>
                            <p>Danh sách lịch khám</p>
                        </a>
                    </li>

                    <li id="dsbacsi_admin">
                        <a th:href="@{/dsbacsiadmin}">
                            <i class="nc-icon nc-tile-56"></i>
                            <p>Danh Sách Bác Sĩ</p>
                        </a>
                    </li>

                    <li id="dsbenhnhan_admin">
                        <a th:href="@{/dsbenhnhanadmin}">
                            <i class="nc-icon nc-circle-10"></i>
                            <p>Danh Sách Bệnh Nhân</p>
                        </a>
                    </li>
                    <li id="dsthuoc_admin">
                        <a th:href="@{/dsthuocadmin}">
                            <i class="nc-icon nc-box"></i>
                            <p>Thuốc</p>
                        </a>
                    </li>
                    <li id="dsadmin">
                        <a th:href="@{dsadmin}">
                            <i class="nc-icon nc-simple-add"></i>
                            <p>Danh sách admin</p>
                        </a>
                    </li >
                    <li id="add_admin" class=" active-pro">
                        <a th:href="@{/themadmin}">
                            <i class="nc-icon nc-spaceship"></i>
                            <p>Thêm Admin</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

<footer th:fragment="footer" class="main-panel" style="background-color: white;margin-top: 5%" >
    <div class="footer-top ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-6 col-lg-6 footer-about wow fadeInUp ">
                    <img class="logo-footer " th:src="@{../images/HotroYte.png}" style="height: 130px;width: 360px" alt="logo-footer " data-at2x="assets/img/logo.png ">
                    <p>
                        Hãy đến với chúng tôi. Chúng tôi sẽ mang đến cho bạn những gì tuyệt vời nhất
                    </p>
               
                </div>
                <div class="col-md-5 col-lg-5 offset-lg-1 footer-contact wow fadeInDown ">
                    <h3>Liên hệ:</h3>
                    <p><i class="nc-icon nc-favourite-28 "></i> 61/7 Đường 104, Tăng Nhơn Phú A,Q9</p>
                    <p><i class="nc-icon nc-favourite-28  "></i> Phone: 0327248445</p>
                    <p><i class="nc-icon nc-favourite-28  "></i> Email: <a href="mailto:hello@domain.com ">phantrang011220@gmail.com</a></p>
                    <p><i class="nc-icon nc-favourite-28 "></i> Skype: phantrang0112</p>
                </div>
            </div>
        </div>
    </div>

</footer>
<div th:fragment="js">
    <!--   Core JS Files   -->
    <script th:src="@{../assetsAdmin/js/core/jquery.min.js}"></script>
    <script th:src="@{../assetsAdmin/js/core/popper.min.js}"></script>
    <script th:src="@{../assetsAdmin/js/core/bootstrap.min.js}"></script>
    <script th:src="@{../assetsAdmin/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
    <!--  Google Maps Plugin    -->
    <script th:src="@{https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE}"></script>
    <!-- Chart JS -->
    <script th:src="@{../assetsAdmin/js/plugins/chartjs.min.js}"></script>
    <!--  Notifications Plugin    -->
    <script th:src="@{../assetsAdmin/js/plugins/bootstrap-notify.js}"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script th:src="@{../assetsAdmin/js/paper-dashboard.min.js?v=2.0.1}" type="text/javascript"></script>
    </div>
</body>



</html>