<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>

	<!-- Back to top button -->
	<div class="back-to-top"></div>

	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-white sticky"
			style="background-image: linear-gradient(90deg, rgb(135 206 250), rgb(224, 255, 255)); margin: 0px;"
			data-offset="300">
			<div class="container">
				<a href="#" class="navbar-brand">Hotro<span class="text-primary">yte</span></a>

				<button class="navbar-toggler" data-toggle="collapse"
					data-target="#navbarContent" aria-controls="navbarContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="navbar-collapse collapsed" id="navbarContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active  " id="itemhome"><a
							class="nav-link" th:href="@{/home}">Trang chủ</a></li>
						<li class="nav-item " id="itembacsi"><a class="nav-link"
							th:href="@{/bacsi}">Thông tin</a></li>
						<li class="nav-item " id="itemlichkham"><a class="nav-link"
							th:href="@{/lichkham}">Lịch khám</a></li>
						<li class="nav-item" id="itemvaccine"><a class="nav-link"
							th:href="@{/vaccine}">vaccine</a></li>
						<li class="nav-item " id="itemtoathuoc"><a class="nav-link"
							th:href="@{/toathuoc}">Toa thuốc</a></li>
						<li class="nav-item "><a class="nav-link" href="account.html">Chi
								Tiet Tai Khoan</a></li>
						<th:block th:if="!${user}">

							<li class="nav-item"><a class="nav-link"
								th:href="@{/login}">Đăng nhập</a></li>
						</th:block>
						<th:block th:if="${user}">

							<li class="nav-item"><a class="nav-link"
								th:href="@{/login}">Đăng xuất</a></li>
						</th:block>
					</ul>
				</div>

			</div>
		</nav>
	</header>
	<div class="container">
		<div id="demo" class="carousel slide" data-ride="carousel">
			<ul class="carousel-indicators">
				<li data-target="#demo" data-slide-to="0" class="active"></li>
				<li data-target="#demo" data-slide-to="1"></li>
				<li data-target="#demo" data-slide-to="2"></li>
			</ul>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img th:src="@{images/hinh1.jpg}" alt="Los Angeles" width="1100"
						height="500">
					<div class="carousel-caption">
						<!-- <h3>Los Angeles</h3>
							<p>We had such a great time in LA!</p> -->
					</div>
				</div>
				<div class="carousel-item">
					<img th:src="@{images/hinh2.jpg}" alt="Chicago" width="1100"
						height="500">
					<div class="carousel-caption">
						<!-- <h3>Chicago</h3>
							<p>Thank you, Chicago!</p> -->
					</div>
				</div>
				<div class="carousel-item">
					<img th:src="@{images/hinh3.png}" alt="New York" width="1100"
						height="500">
					<div class="carousel-caption">
						<!-- <h3>New York</h3>
							<p>We love the Big Apple!</p> -->
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#demo" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			</a> <a class="carousel-control-next" href="#demo" data-slide="next">
				<span class="carousel-control-next-icon"></span>
			</a>
		</div>

	</div>




	<div class="page-section page-fisrt" id="about">
		<div class="container">
			<h3>Tin tức hôm nay</h3>
			<th:block th:each="news : ${listNews}">
				<p
					style="background-color: rgb(170, 169, 169); width: 100%; height: 2px;"></p>
				<div class="row align-items-center ">
					<div class="col-lg-6 py-3 wow fadeInUp">
					<th:block th:with="date=${#dates.format(new java.util.Date(news.ngaytao), 'dd-MM-yyyy')}">
						<span class="subhead" th:text="${date}"></span>
						</th:block>
						<h2 class="title-section" th:text="${news.tieude}"></h2>
						<div class="divider"></div>
						<p th:text="${news.noidungthugon}"></p>
						<a th:href="@{/homedetail} + ${news.idnews}"
							class="btn btn-primary mt-3">Xem Thêm</a>
					</div>
					<div class="col-lg-6 py-3 wow fadeInRight">
						<div class="img-fluid py-3 text-center">
							<img th:src="@{${news.img}}" style="width: 445px; height: 475px"
								alt="">
						</div>
					</div>
				</div>
			</th:block>


		</div>
		<!-- .container -->
	</div>
	<!-- .page-section -->
	<footer th:replace="/layout::footer"></footer>


	<div th:replace="/layout :: linkJS"></div>


</body>
</html>