<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>

<body>

	<!-- Back to top button -->
	<div class="back-to-top"></div>

	<header th:replace="/layout :: header"> </header>
	<div class="container">
		<div class="page-banner"
			style="background-image: url(../assets/img/hinhbgr.jpg); background-repeat: no-repeat; background-size: contain;">
			<div class="row justify-content-center align-items-center h-100">
				<div class="col-md-6">
					<nav aria-label="Breadcrumb">
						<ul class="breadcrumb justify-content-center py-0 bg-transparent">
							<li class="breadcrumb-item"><a href="index.html">Trang
									chủ</a></li>
							<li class="breadcrumb-item active">Lịch khám</li>
						</ul>
					</nav>
					<h1 style="margin-left: 160px;" class="text-center">Danh sách
						lịch khám</h1>
					<a th:href="@{/dangkilichkham}" class="btn btn-primary text-center" style="position: absolute; left: 38%; top: 99%">đăng kí lịch khám</a>
				</div>
			</div>
		</div>
		<div class="modal fade" style="margin-top: 10%;" id="myModal"
			role="dialog">
			<div class="modal-dialog">


				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Đăng kí lịch khám</h4>
					</div>
					<form action="" method="POST" th:object="${newLichKham}">
						<div class="modal-body">

							<div class="row">
								<label class="col-3 text-left" for="sel1">Chọn Khoa:</label>
								<div class="dropdown col-7" style="padding: 0px">
									<p class=" dropdown-toggle form-control  text-center"
										data-toggle="dropdown"
										style="margin: 0px; background-color: white; border: 2px solid #d6dbd9">Khoa</p>
									<div class="dropdown-menu">
										<a class="dropdown-item"
											th:href="@{/selectKhoaLichKham} + ${0}">Khoa</a>
										<th:block th:each="khoa: ${listKhoa}">
											<a class="dropdown-item" th:utext="	${khoa.tenkhoa}"
												th:href="@{/selectKhoaLichKham} + ${khoa.ma}"></a>
										</th:block>
									</div>
								</div>
							</div>

							<br>
							<div class="row">
								<form>
									<label class="col-3 " for="ngaykham">Ngày khám:</label> <input
										type="date" class="col-5" id="ngaykham" name="ngaykham"
										style="border: 2px solid #d6dbd9; padding: 5px"> <input
										type="submit" class="btn btn-primary col-2" value="Loc">
								</form>
							</div>
							<br>
							<div class="row">
								<label class="col-3 text-left" for="sel1">Chon bac si:</label> <select
									class="col-7 form-control" id="sel1" name="sellist1">
									<option class="text-center">1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</select>
							</div>
							<br>
							<button type="submit" class="btn btn-primary">Dang ki</button>
						</div>
					</form>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="">
		<div class="container">
			<div class="row">

				<th:block th:each="lichkham: ${listLichKham}" >
				<div class="col-lg-4">
					 <form
						th:action="@{huydangki}+${lichkham.get('idlichkham')}"
						method="POST" style="margin: 0px; padding: 0px" onsubmit="return funtion1()">
						
							<div class="card-service">
								<div class="header">
									<!-- <img th:src="@{ ${lichkham.get('img')}}" alt=""> -->
									<img src="../assets/img/services/service-3.svg" alt="">
								</div>
								<div class="body">
									<h5 class="text-secondary"
										th:text="${lichkham.get('fullName')}">Bác sĩ A</h5>
									<p th:text="${lichkham.get('ngayhenkham')}">Ngày 09/12/2020</p>
									<p th:text="${lichkham.get('phone')}">sdt bs:029302984</p>
									<input id="huy-lich" type="submit" class="btn btn-primary"
										th:value="${lichkham.get('trangthai')}" name="huylich"
									 ></input>
								</div>
							</div>
						
					</form>
					</div>
				</th:block>
				<div class="col-lg-4">
					<div class="card-service">
						<div class="header">
							<img src="../assets/img/services/service-3.svg" alt="">
						</div>
						<div class="body">
							<h5 class="text-secondary">Bác sĩ A</h5>
							<p>Ngày 09/12/2020</p>
							<p>sdt bs:029302984</p>
							<a href="service.html" id="huy-lich" class="btn btn-primary">Hủy
								lịch</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav aria-label="Page Navigation">
		<ul class="pagination justify-content-center">
			<li class="page-item disabled"><a class="page-link" href="#"
				tabindex="-1" aria-disabled="true">Previous</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item active" aria-current="page"><a
				class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
			</li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">Next</a></li>
		</ul>
	</nav>
	</div>
	<!-- .container -->
	</div>
	<!-- .page-section -->

	<footer th:replace="/layout::footer"></footer>
	<div th:replace="/layout :: linkJS"></div>
	<script>
		
			document.getElementById("itemlichkham").classList.add('active');
			function funtion1()
			{	
				var input = document.getElementById("huy-lich");
				console.log(input.value.toLocaleLowerCase()+"kkk"+ "Đã đăng kí".toLocaleLowerCase());
				if (input.value.toLocaleLowerCase()=="Đã đăng kí".toLocaleLowerCase()) {
					alert("Bạn có chắc chắn muốn hủy lịch khám?");
					 return true;
				}
				else{
					alert("Lịch khám đã được hủy!");
					 return false;
				}
			}
			
			
		
	</script>

</body>
</html>