<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Web hỗ trợ y tế</title>
	<link rel="stylesheet" th:href="@{../fontawesome/css/all.min.css}"> <!-- https://fontawesome.com/ -->
	<link th:href="@{https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap}" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link th:href="@{../css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{../css/templatemo-xtra-blog.css}" rel="stylesheet">
    <link th:href="@{../css/theme_bacsi.css}" rel="stylesheet">
    <link th:href="@{../css/select2.min.css}" rel="stylesheet">
    <link th:href="@{../css/style_bacsi.css}" rel="stylesheet">
</head>
<body>
	<header  th:fragment="header" class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-plus fa-2x"></i></div>           
               <div class="row justify-content-center"> <h1 ><b >Bác Sĩ:</b> <b th:text="${tenbacsi}"> </b> </h1></div>
            </div>
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                    <li id="lich_kham" class="tm-nav-item "><a th:href="@{/homebacsi}" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Lịch khám 
                    </a></li>
                    <li id="lich_da_kham" class="tm-nav-item"><a th:href="@{/lichdakham}" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        Lịch khám đã khám
                    </a></li>
                    <li id="Thong_Ke_toa_thuoc" class="tm-nav-item"><a  th:href="@{/thongke}"class="tm-nav-link">
                        <i class="fas fa-users"></i>
                        Thống kê
                    </a></li>
                    <li id="dang_Ki_Lich"class="tm-nav-item"><a  th:href="@{/dangkilich}"class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        Đăng Ký Lịch Tuần
                    </a></li>
                    <li id="thong_tin_ca_nhan" class="tm-nav-item"><a  th:href="@{/accountbacsi}" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        Thông tin cá nhân 
                    </a></li>
                    <li id="" class="tm-nav-item"><a  th:href="@{/login}" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        Đăng xuất
                    </a></li>
                </ul>
            </nav>
            <div class="tm-mb-65">
                <a rel="nofollow" href="https://fb.com/templatemo" class="tm-social-link">
                    <i class="fab fa-facebook tm-social-icon"></i>
                </a>
                <a href="https://twitter.com" class="tm-social-link">
                    <i class="fab fa-twitter tm-social-icon"></i>
                </a>
                <a href="https://instagram.com" class="tm-social-link">
                    <i class="fab fa-instagram tm-social-icon"></i>
                </a>
                <a href="https://linkedin.com" class="tm-social-link">
                    <i class="fab fa-linkedin tm-social-icon"></i>
                </a>
            </div>
            <p class="tm-mb-80 pr-5 text-white">
                By: Trang web thiết bị y tế
            </p>
        </div>
    </header>
    <div th:fragment="linkJS">
    <script th:src="@{../js/jquery.min.js}"></script>
    <script th:src="@{../js/templatemo-script.js}"></script>
  
    <script th:src="@{../js/select2.min.js}"></script>
      <script th:src="@{../js/main_bacsi.js}"></script>
    </div>
</body>
</html>